ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: relative;
  }
  
  #containergejala {
    text-align: center;
    position: relative;
  }
  
  #containerpenyakit {
    text-align: center;
    position: relative;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content.background{
    --background: url(../../assets/green.png) 0 0/100% 100% no-repeat;
  }